
<div class="parent">

    <div class="left">
        <h1>My Website</h1>
        <hr>
        <a routerLink="home">Home</a>
        <br>
        <a routerLink="welcome">Welcome</a>
        <a routerLink="data-binding">Data Binding</a>
        <a routerLink="calculator">Calculator</a>
        <a routerLink="rectangle">Rectangle</a>
        <a routerLink="circle">Circle</a>
        <a routerLink="bmi">BMI</a>
        <a routerLink="dice">Dice</a>
        <a routerLink="directives-pipes">Directive-pipes</a>
        <a routerLink="employees">Employess</a>
        <a routerLink="cart">Cart</a>
        <a routerLink="vehicles">Vehicles</a>
        <a routerLink="bankaccounts">Bank Accounts</a>
        <a routerLink="flipkart">Flipkart</a>
        <a routerLink="email">Email</a>
        <a routerLink="create-vehicle">Create-Vehicle</a>
        <a routerLink="create-account">Create-Account</a>
        <a routerLink="student-cards">Student-Cards</a>
        <a routerLink="create-studentcards">Create-Studentcard</a>
        <a routerLink="photo-gallery">Photo-Gallery</a>
        <a routerLink="view-vehicle/:id">View-Vehicle</a>
        <a routerLink="create-user">Create-User</a>
        <a routerLink="student-form">Student-Form</a>
        <a routerLink="parent">Parent</a>
        <a routerLink="sibling">Sibling</a>
        <a routerLink="amazon-cart">Amazon-Cart</a>
        <a routerLink="todo-task">Todo-Task</a>
        <a routerLink="about-ceo">About-Ceo</a>
        <a routerLink="payments/upi">upi payment</a> 
        <a routerLink="payments/card">card payment</a> 
        <hr>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>