/* Style for the image */
img {
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 30%; /* Ensures the image is responsive */
    height: 30%; /* Keeps the aspect ratio of the image */
    border: 2px solid #ddd; /* Adds a light border around the image */
    border-radius: 8px; /* Rounds the corners of the border */
    
  }
  
  /* Style for the button */
  button {
    display: inline-block; /* Ensures the button fits its content */
    padding: 15px 20px; /* Adds space inside the button */
    font-size: 20px; /* Sets the font size */
    color: #f7eeee; /* Sets the text color */
    background-color: #007bff; /* Sets the background color */
    border: rgb(20, 10, 2); /* Removes the default border */
    border-radius: 5px; /* Rounds the corners of the button */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
    margin-left: 450px;
    text-align: center;
  }
  
  button:hover {
    background-color: #65b300; /* Changes background color on hover */
  }
  
  button:focus {
    outline: none; /* Removes the outline when the button is focused */
    
  }
  